<div class="container">
  <%= link_to "<button>Logout</button>".html_safe , "/logout" %>
  <br />
  <br />
  <br />
  <br />
  <br /><h1>Thanks you for participating</h1>
  <h4>
    Your vote has been counted and is being processed by the BitCoin Blockchain
  </h4>

</div>

